<!-- development version, includes helpful console warnings -->
<link rel="stylesheet" href="https://unpkg.com/98.css">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!-- backlog remove in prod -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<!-- end backlog-->
<div class="window" style="width: 25%;">
  <div class="title-bar">
    <div class="title-bar-text">About</div>
    <div class="title-bar-controls">
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <div id="app">
      {{ message }}
    </div>
  </div>
</div>


</div>
<div class="window" style="width: 100%">
  <div class="title-bar">
    <div class="title-bar-text">
      <div id="app-2">Scrum Board as of {{ message }}</div>
    </div>
    <div class="title-bar-controls">
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <h4 style="text-align: center;">Scrum Board</h5>

    <table style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <th>Ice Box</th>
          <th>Backlog</th>
          <th>Current Sprint</th>
          <th>Done</th>
          <th>Chores</th>
        </tr>

        </tr>
        <tr>
          <td>
            <div id="icebox">
              <ul>
                <li v-for="ice in icebox">
                  {{ ice.text }} <br> <button @click="move_to_backlog">Move to backlog.</button>
                </li>
              </ul>
            </div>
          </td>

        <td>
          <div id="backlog">
            <ul>
              <li v-for="backlog in backlogs">
                {{ backlog.text }} <br><button @click="move_to_current_sprint">Move to Current Sprint</button>
              </li>
            </ul>
          </div>
        </td>
        <td>

          <div id="current_sprint">
            <ul>
              <li v-for="sprint in current_sprint">
                {{ sprint.text }} <br> <button @click="mark_as_complete">Mark as Complete</button>
              </li>
            </ul>
          </div>
        </td>

        <td>
          <div id="done">
            <ul>
              <li v-for="item in done">
                {{ item.text }} <br> <button @click="archive">Archive</button>
              </li>
            </ul>
          </div>
        </td>

        <td>
          <div id="chores">
            <ul>
              <li v-for="chrore in chores">
                {{ chrore.text }} <br> <button>Mark as Done for this month.</button>
              </li>
            </ul>
          </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="hire">
  <div class="window-body" style="text-align:center">
    <div class="window" style="width: 9%;">
      <div class="title-bar">
        <div class="title-bar-text" style="z-index: 10;">Please!!!!</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <p>Do you want to hire me?</p>

      <button @click="trigger">Yes</button><button @click="trigger">Yes</button>

    </div>
  </div>
</div>
</div>
</div>

<div class="window-body" style="text-align:center"  class="control">
  <div class="window" style="width: 17%">
    <div class="title-bar">
      <div class="title-bar-text">Feedback!</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <p>Why not?</p>
    <div id="tellme">
    <p><input type="text"></p>
    <p><button>Tell me</button><button>Don't</button></p>

  </div></div>
<script>

  var app = new Vue({
    el: '#app',
    data: {
      message: 'This is a simple scrum board created by Brian Herman for my Zoro Tools interview!'
    }
  })
  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'You loaded this page on ' + new Date().toLocaleString()
    }
  })
  var backlog = new Vue({
    el: '#backlog',
    data: {
      backlogs: [
        { text: 'Learn error messages of vue/es6 and 7' },
        { text: 'Learn JavaScript the way Zoro likes it.' },
        { text: 'Build something awesome' },
        { text: 'Learn and master Vue' }
      ]
    },
    methods:{
      move_to_backlog(){
        fetch('http://example.com/move_to_backlog.json')
          .then(response => response.json())
          .then(data => console.log(data));
      }
    }
  })
  var app4 = new Vue({
    el: '#current_sprint',
    data: {
      current_sprint: [

        { text: 'Get A Job at Zoro Tools' },
        { text: 'Forget everything I know about old job.' },
        { text: 'Become a blank slate' },
        { text: 'Sell comic book collection on Friday' }

      ]
    },
    methods:{
      move_to_current_sprint(){
        fetch('http://example.com/move_to_current_sprint.json')
          .then(response => response.json())
          .then(data => console.log(data));
      }
    }
  })
  var app5 = new Vue({
    el: '#chores',
    data: {
      chores: [
        { text: 'Pay Bills on Time' },
        { text: 'Play Sonic to Relax' },
      ]
    },
    methods:{
      archive(){
        fetch('http://example.com/endpoint.json')
          .then(response => response.json())
          .then(data => console.log(data));
        }
      }
    })
  var icebox = new Vue({
    el: '#icebox',
    data: {
      icebox: [
        { text: 'Find new friends' },
        { text: 'Get a girlfriend' }
      ]
    },
    methods: {
      move_to_backlog() {
        fetch('http://example.com/endpoint.json')
          .then(response => response.json())
          .then(data => console.log(data));
      }
    }
  })
  var done = new Vue({
    el: '#done',
    data: {
      done: [
        { text: 'Quit Job' },
        { text: 'Find good recruiting firm on amazon' },
        { text: 'Update and weaponize resume' },
        { text: 'Cash out my mother\'s savings she created for me years ago incase I lost my job.' }
      ]
    }
  })
  var hire = new Vue({
    el: '#hire',
    data: {
      message: "Yes"
    },
    methods: {
      trigger() {
        fetch('http://example.com/endpoint.json')
          .then(response => response.json())
          .then(data => console.log(data));
      }
    }
  });
  var tellme = new Vue({
    el: '#tellme',
    data: {
      message: "Yes"
    },
    methods: {
      trigger() {
        fetch('http://example.com/telme.json')
          .then(response => response.json())
          .then(data => console.log(data));
      }
    }
  });
</script>

